:root { 
--light_green_A701:#58cc02; 
--light_green_A700:#62e002; 
--light_blue_A200:#3fbdf1; 
--bluegray_800_a7:#2e4051a7; 
--light_blue_600:#099ee3; 
--red_500:#ff3333; 
--light_blue_400:#1cb0f6; 
--white_A700_95:#ffffff95; 
--black_900:#000000; 
--bluegray_800_90:#2e405190; 
--bluegray_800_9e:#2e40519e; 
--red_A200:#ff6666; 
--gray_800:#353642; 
--gray_900:#1a242d; 
--bluegray_100:#ced9e3; 
--orange_500:#ff9600; 
--teal_50:#d7e8f0; 
--pink_300_1e:#d04d9d1e; 
--orange_400:#ffa424; 
--gray_100:#f1f4f7; 
--bluegray_900:#273645; 
--bluegray_800:#2e4051; 
--yellow_500_59:#ffe74959; 
--bluegray_101:#ccdde2; 
--white_A700:#ffffff; 
}